.container_custom{
    width: 60%;
    margin: auto;
}

.header_top, .footer_bottom{
    background-color: #2f4050;
}
.footer_top{
    background-color: #3c546b;
}
.header_bottom{
    background-color: #00bb9c;
    text-align: center;
}
#about{
    background-color: #00bb9c;
}
.copyright{
    text-align: center;
}

footer,header,#about{
    color: white;
}