.container_custom {
    width: 60%;
    margin: auto;
}

.header_top,
.footer_bottom {
    background-color: #2f4050;
}

header img {
    max-width: 350px;
}

header a {
    text-decoration: none;
    color: white;
}

.btn.btn-secondary.dropdown-toggle {
    background-color: transparent;
}

.footer_top {
    background-color: #3c546b;
}

.header_bottom {
    background-color: #00bb9c;
}

#about {
    background-color: #00bb9c;
}

.divider {
    font-size: 50px;
}

.divider_bar {
    width: 150px;
    height: 4px;
    background-color: white;
    border-radius: 10px;
}

#contact .divider_bar,
#portfolio .divider_bar {
    background-color: black;
}

footer,
header,
#about {
    color: white;
}

#portfolio img {
    border-radius: 10px;
}

.social_icons i {
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    display: block;
}

/* styling form */
.form-group input,
.form-group textarea {
    border: none;
    border-radius: 0px;
    border-bottom: 1px solid grey;
}

/* overlay */
.card {
    border-radius: 10px;
    background-color: #00bb9c;
    border: none;
    display: relative;
}

.card img:hover {
    opacity: 0.5;
}

.card .bi-plus-lg {
    position: absolute;
    opacity:0;
}

.card:hover .bi-plus-lg {
    color: white;
    position: absolute;
    font-size: 80px;
    opacity: 1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}