.container_custom{
    width: 55%;
    margin: auto;
}

.header_top, .footer_bottom{
    background-color: #2f4050;
}
header img{
    width: 300px;
}
header a{
    text-decoration: none;
    color: white;
    text-transform: uppercase;
}
.btn.btn-secondary.dropdown-toggle{
    background-color: transparent;
}
.footer_top{
    background-color: #3c546b;
}
.header_bottom{
    background-color: #00bb9c;
    text-align: center;
}
#about{
    background-color: #00bb9c;
}
.copyright{
    text-align: center;
}

footer,header,#about{
    color: white;
}

.social_icons i{
    text-align: center;
    height: 40px;
    width: 40px;
    border: 1px solid white;
    border-radius: 50%;
    padding: 8px;
    display: block;
}
.footer_top{
    text-align: center;
}
.footer_top h4{
    text-transform: uppercase;
}