.header_top{
    background-color: #2f4050;
}
.header_bottom{
    background-color: #00bb9c;
    text-align: center;
}
.col-12.col-md-6.col-xl-4{
    background-color: blue;
    height: 100px;
    border: 1px solid black;
}